.logo{
    height:3rem ;
    width:3rem ;
}
.iconImage{
    height:30px ;
    width:30px ;
}
.icons{
    height:32px ;
    width:32px ;
}

.history-card{
    width: 400px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin:10px, 10px;

}